<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaSync</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
    <h1>VitaSync</h1>
    <p>Conecte.Estude.Evolua</p>
    <a href="/templates/login.html" class="botao-cta">Começar agora</a>
    </header>

    <main>
        <section class="card">
        <h2>O que é o VitaSync ?</h2>
        {% for sessao in sessoes %}
        <p>Matéria: {{ sessao.materia }} - Duração: {{ sessao.duracao }} minutos</p>
        {% endfor %}
       <p>Aqui no VitaSync você transforma sua rotina de estudos em uma jornada de evolução.</p> 
       </section>

       <section class="card">
        <h2>Como funciona</h2>
        <p>Estude, ganhe xp, suba de nível e acompanhe seu progresso.</p>
       </section>

    <section class="card">
        <h2>Funcionalidades</h2>
        <ul>
            <li>Sistema de XP</li>
            <li>Ranking</li>
            <li>Cronômetro de estudos</li>
        </ul>
    </section>
    </main>
<footer class="rodape">
    <p>&copy; 2026 VitaSync. Todos os direitos reservados.</p>
</footer>
</body>
</html>