<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/templates/index.html">
</head>
<body>
    <main>
        <section class="card">
            <h2>Entrar no VitaSync</h2>
            <form>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required>
                
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Sua senha" required>

                <button type="submit" class="botao-cta">Entrar</button>
            </form>
        </section>
    </main>
</body>
</html>